# create user script
alias hmu="cd ~/Pro/playground/joshua-puppeteer/ && node index.js --environment"
alias log="git log --decorate --oneline --graph"
# common
alias cdd='cd -'
alias cl='clear'
alias sleep="pmset sleepnow"
alias shutdown="sudo shutdown -r now"
# utility
alias r='source ~/.zshrc'
alias e='mvim ~/.aliases'  # Edit aliases
# xcode simulator
alias simulator="open -a /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app"
alias l="ls -la"       # List in long format, include dotfiles
alias ld="ls -ld */"   # List in long format, only directories
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias gomodules="cd ~/Pro/modules/"
alias goecom="cd ~/Pro/joshua/ecom/"
alias goplayground="cd ~/Pro/playground/"
alias serveecom="cd $BASE_DEV_DIR/tcserver; sh tcruntime-ctl.sh hybris-dev run" # Starts tc-server
alias buildecom="cd $BASE_DEV_DIR/ecom; ant clean compile" # Compiles ecom
alias stopapache="sudo apachectl stop" # Stops apache
alias startapache="sudo apachectl start" # Starts apache
alias restartapache="sudo apachectl restart" # Restart apache
alias apachelog="tail -f /var/log/apache2/access_log" # Tail the apache access logs
alias apacheerrorlog="tail -f /var/log/apache2/error_log" # Tail the apache error logs
alias tclogs="tail -f -n 1000 $CATALINA_HOME/logs/hybris.log"# SHow tc server öpgs
alias startnginx="sudo nginx"
alias stopnginx="sudo nginx -s stop"

